.seat {
  margin: 8px;
}
.seat button {
  background-color: blue;
  color: #fff;
}
.seat button:hover {
  background-color: rgb(57, 57, 255);
}
.seat button.reserved {
  background-color: rgb(98, 1, 1);
} 